.container_new {
  background-color: #faf5e6;
  background-image: radial-gradient(#6b6b6b 1px, transparent 1px);
  background-size: 20px 20px;
  margin: 0px;
  padding: 2%
}

.header {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  background-color: white;
  width: 55%;
  padding: 1%;
  color: #221F20;
}

.back-button {
  background: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #221F20;
}

.workflow-container {
  min-height: 100vh;
  height: max-content;
  padding: 20px;
}


.tooltip {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.tooltip button {
  border: 1px solid #E0E0E0 !important
}

.tooltip .tooltip-inner {
  background-color: white !important;
  color: black !important;
  /* Ensure text is visible */
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 6px !important;
  padding: 8px 12px !important;
}

.tooltip-arrow::before {
  border-top-color: white !important;
  border-bottom-color: white !important;
}
.workflow-container .existing {
  border: 1px solid #849E4C !important;
  background: white !important;
  border-radius: 8px !important;
  padding: 7px !important;
}

.zoom-controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.zoom-controls button {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #ddd;
  border-radius: 5px;
  margin: 0 5px;
}

.zoom-controls span {
  font-size: 14px;
  font-weight: bold;
}

input[type="range"] {
  accent-color: #4F4F4F; /* Changes the thumb and track color */
}